.main {
  position: absolute;
  left: 50%;
  top: 40%;
  margin: 10px;
  padding: 50px 10px;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  // background-color: #eee3;
  // box-shadow: 1px 1px 16px #aaa1;
  overflow: hidden;
}

// 上面的时间显示
.time {
  font-size: larger;
  margin: 1.8rem auto 4.2rem;

  div {
    float: left;

    &:nth-child(2) {
      font-weight: 600;
      float: right;
      cursor: pointer;
      overflow: hidden;

      & > div {
        width: 4rem;
        text-align: center;
        &:nth-child(2) {
          display: none;
          transform: rotate(0deg);
          background-image: linear-gradient(to top, #f0f, #0ff);
          color: transparent;
          background-clip: text;
        }
      }

      &:hover {
        & > div {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            display: unset;
            animation: 2s linear 0s infinite settingImg;
          }
        }
      }
    }
  }
}

@keyframes settingImg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
