.main {
  position: absolute;
  left: 50%;
  top: 40%;
  margin: 10px;
  padding: 50px 10px;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  // background-color: #eee3;
  // box-shadow: 1px 1px 16px #aaa1;
  overflow: hidden;
}

// 上面的时间显示
.time {
  font-size: larger;
  margin: 1.8rem auto 3.9rem;

  div {
    float: left;

    &:nth-child(2) {
      font-weight: 600;
      float: right;
      cursor: pointer;
      padding-right: 16px;
      animation-play-state: running;

      &:hover {
        animation-play-state: paused;
        color: #0006;
      }
    }
  }
}
