 :root {
   --box-shadow: 0 5px 13px 0 rgba(10, 15, 71, 0.2);
 }

 *,
 a,
 body,
 abbr,
 address,
 area,
 div,
 html,
 span {
   position: relative;
   left: auto;
   top: auto;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
   /* font-size: 100%; */
   font: inherit;
   vertical-align: baseline;
   -webkit-user-select: none;
   user-select: none;
 }

 body {
   line-height: 1.4;
 }

 a {
   text-decoration: none;
 }

 ol,
 ul {
   list-style: none;
 }

 blockquote::before,
 blockquote::after,
 q::before,
 q::after {
   content: "";
   content: none;
 }

 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

 input[type="button"],
 .cursor-pointer {
   cursor: pointer;
 }

 .center {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }